footer {
    background-color: rgba(255, 146, 5, 0.932);
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
        section{ 
            div {
                img{
                    width: 100px;
                    height: 100px;
                    }
                }
            }
        }